footer {
  background-color: #eeeeee;
  text-align: center;
  margin-top: 10rem;
  padding: 2.5rem 0rem;
  img {
    width: 70px;
    margin: 1rem 0rem 2rem 0rem;
  }
  ul {
    list-style: none;
    display: grid;
    grid-row-gap: 1.5rem;
    grid-template-rows: repeat(6, 0.5fr);
  }
  a:link,
  a:visited {
    color: $neutral-dark-blue;
    font-weight: 400;
    text-decoration: none;
  }
  a:hover {
    color: $primary-cyan;
    font-weight: 600;
  }
  .social-links {
    letter-spacing: 3rem;
    margin-top: 1rem;
    svg path:hover {
      fill: $primary-cyan !important;
    }
  }
}
@media (min-width: 500px) {
  footer {
    ul {
      max-width: 400px;
      margin: auto;
      grid-template-rows: repeat(4, 0.5fr);
      grid-template-columns: repeat(2, 1fr);
      li:nth-of-type(5) {
        grid-column: span 2;
      }
    }
    .social-links {
      grid-row: 4;
      grid-column: span 2;
    }
  }
}
@media (min-width: 700px) {
  footer {
    ul {
      max-width: 700px;
      margin: auto;
      grid-template-rows: repeat(3, 0.5fr);
      grid-template-columns: repeat(3, 1fr);
      li:nth-of-type(5) {
        grid-column: 2;
      }
    }
    .social-links {
      grid-row: 3;
      grid-column: span 3;
    }
  }
}
@media (min-width: 850px) {
  footer {
    display: flex;
    img {
      height: 70px;
      margin: auto;
    }
    ul {
      max-width: none;
      width: 800px;
      margin: auto;
      grid-template-rows: repeat(3, 0.5fr);
      grid-template-columns: repeat(3, 1fr);
      li:nth-of-type(5) {
        grid-column: 2;
      }
    }
    .social-links {
      grid-row: 3;
      grid-column: span 3;
    }
  }
}
@media (min-width: 1100px) {
  footer {
    display: flex;
    img {
      height: 70px;
      margin: auto;
    }
    ul {
      max-width: 1000px;
      width: 80%;
      margin: auto;
      grid-template-rows: repeat(2, 0.5fr);
      grid-template-columns: repeat(4, 1fr);
      li:nth-of-type(2) {
        grid-column: 1;
        grid-row: 2;
      }
      li:nth-of-type(4) {
        grid-column: 2;
        grid-row: 2;
      }
      li:nth-of-type(5) {
        grid-column: 3;
        grid-row: 1;
      }
    }
    .social-links {
      grid-row: span 2;
      grid-column: 4;
      text-align: right;
    }
  }
}
