main {
  text-align: center;
  margin: 7em auto 0em auto;
  padding: 0rem 1.8rem;
  max-width: 600px;
  h2,
  h3 {
    font-weight: 600;
    color: $neutral-dark-blue;
  }
  h2 {
    font-size: 1.7em;
    padding-bottom: 1.5rem;
  }
  h3 {
    font-size: 1.4em;
    padding-bottom: 1rem;
  }
  p {
    font-weight: 400;
    color: $neutral-grayish-blue;
  }
  section {
    max-width: 600px;
  }
  .img {
    width: 100%;
    max-width: 500px;
    padding: 4em 0em;
  }
  .Features {
    p {
      padding-bottom: 3rem;
    }
  }
  .grid-icons {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .icon {
    padding: 3rem 0rem;
    height: 130px;
  }
  .margin-top {
    margin-top: 5em;
  }
  .p-bot {
    padding-bottom: 2.5rem;
  }
  .logos {
    padding: 8rem 0rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr;
    grid-row-gap: 3rem;
    .center {
      justify-self: center;
    }
  }
}
@media (min-width: 900px) {
  main {
    max-width: 1400px;
    h2 {
      font-size: 2.2em;
      padding-bottom: 1.5rem;
    }
    h3 {
      font-size: 1.6em;
      padding-bottom: 1rem;
    }
    section {
      max-width: 1300px;
    }
    p {
      font-size: 1.1em;
    }
    .max-width {
      max-width: 700px;
      margin: auto;
      .img {
        width: 100%;
        max-width: none;
        padding: 5em 0em;
      }
    }
    .grid-icons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      div {
        max-width: 400px;
        margin: auto;
      }
      div:nth-of-type(3) {
        grid-row: 2;
        grid-column: span 2;
      }
    }
    .margin-top {
      margin-top: 5rem;
    }
    .logos {
      justify-content: center;
      align-items: center;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(2, 1fr);
      img:nth-of-type(5) {
        grid-column: span 2;
      }
    }
  }
}
@media (min-width: 1100px) {
  main {
    .Features {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      padding: 8em 0em;
      .img {
        height: 100%;
        width: 115%;
        max-width: none;
        padding: 0em;
        transform: translateX(-13%);
      }
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding-left: 7rem;
        p {
          font-size: 1em;
          max-width: 350px;
        }
      }
    }
    .grid-icons {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 1fr);
      div:nth-of-type(3) {
        grid-row: 1;
        grid-column: 3;
      }
    }
    .logos {
      justify-content: center;
      align-items: center;
      grid-template-rows: repeat(1, 1fr);
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: 10%;
      img:nth-of-type(5) {
        grid-column: 5;
      }
      img {
        width: 170px;
      }
    }
    .margin-top {
      margin-top: 0rem;
    }
  }
}
