@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

$ff-primary: "Bai Jamjuree", sans-serif;

$primary-cyan: hsl(171, 66%, 44%);
$primary-blue: hsl(233, 100%, 69%);

$neutral-dark-blue: hsl(210, 10%, 33%);
$neutral-grayish-blue: hsl(201, 11%, 66%);

$primary-cyan-border: hsl(171, 68%, 30%);
$primary-blue-border: hsl(231, 93%, 58%);
